html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #ADD8E6;
}

.full-height {
    height: 100%;
}

.margin-auto {
    margin: 0 auto;
}

.game-height {
    height: 60vh;
}

.control-height {
    height: 20vh;
}

.game-width {
    width: 30vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.tile {
    width: 3vh;
    height: 3vh;
}

.tile.occupied {
    background-color: green;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.tile.empty {
    background-color: white;
}

.secondary-color {
    background-color: black;
    color: orange;
}

.control-height.center-text {
    text-align: center;
    vertical-align: middle;
    line-height: 20vh;
    font-weight: 700;
}


.preview-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 12vh;
    height: 12vh;
}

.preview.occupied {
    background-color: green;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0px solid #DDDDDD;
}

.preview.empty {
    background-color: black;
}
