html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #ADD8E6;
}

.full-height {
    height: 100%;
}

.margin-auto {
    margin: 0 auto;
}

.game-height {
    height: 60vh;
}

.control-height {
    height: 20vh;
}

.game-width {
    width: 30vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.tile {
    width: 3vh;
    height: 3vh;
}

.tile.occupied {
    background-color: green;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #DDDDDD;
}

.tile.empty {
    background-color: white;
}
