html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #ADD8E6;
}

.full-height {
    height: 100%;
}

.margin-auto {
    margin: 0 auto;
}

.game-height {
    height: 60vh;
}

.control-height {
    height: 20vh;
}

.game-width {
    width: 30vh;
}

.game-grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.main-grid-container {
    display: grid;
    grid-template-columns: 1fr 30vh 1fr;
}

.tile {
    width: 3vh;
    height: 3vh;
}

.l-shape {
    background-color: #7cb342
}

.square-shape {
    background-color: #c67c00
}

.s-shape {
    background-color: #725b53
}

.z-shape {
    background-color: #a1887f
}

.t-shape {
    background-color: #ffa040
}

.line-shape {
    background-color: #c7a500
}

.j-shape {
    background-color: #4b830d
}

.tile.occupied {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.tile.empty {
    background-color: #DDDDDD;
}

.secondary-color {
    background-color: black;
    color: orange;
}

.control-height.center-text {
    text-align: center;
    vertical-align: middle;
    line-height: 10vh;
    font-weight: 700;
}

.center-control {
    margin: 0 auto;
    display: block;
    font-size: 10vh;
}

.center-link {
    text-align: center;
    display: block;
    font-size: xx-small;
}

.center-control-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.preview-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 6vh;
    height: 6vh;
    padding-top: 1vh;
}

.preview-tile {
    width: 1.5vh;
    height: 1.5vh;
}

.preview-tile.occupied {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0px solid #DDDDDD;
}

.preview-tile.empty {
    background-color: black;
}

.digital {
    font-family: 'Orbitron', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
